.gallery .pic {
	float: left;
	text-decoration: none;
	width: 128px;
	height: 128px;
	overflow: hidden;
	position: relative;
	margin: 10px;
	cursor: pointer;
	border: 8px solid #FFFFFF;
	background: #000000;
	-webkit-border-image: url('images/wood.png') 200 stretch;
	-o-border-image: url('images/wood.png') 200 stretch;
	   border-image: url('images/wood.png') 200 stretch;
	margin-top: 32px;
}

.gallery .pic .img {
	height: 128px;
	overflow: hidden;
}

.gallery .pic .desc {
	text-align: center;
	position: absolute;
	bottom: 0;
	margin: 0;
	color: white;
	background-color: rgba(0, 0, 0, 0.4);
	width: 100%;
	font-weight: bold;
	overflow: hidden;
	padding: 5px;
	
	transition: transform 0.3s;
	transform: translate(0, 100%);
}

.gallery .pic:hover .desc {
	transition: transform 0.3s;
	transform: translate(0, 0);
}

.gallery .pic:active .desc {
	display: none;
}

.gallery .pic+.popup {
	display: none;
	background-color: rgba(0, 0, 0, 0.5);
	padding-top: 20%;
	padding-left: 10%;
	padding-bottom: 40%;
	position: fixed;
	overflow: auto;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 200;
	text-decoration: none;

}

.gallery .pic+.popup .name {
	font-variant: small-caps;
	color: #ccc;
	text-align: center;
	font-size: 140%;
	padding-bottom: 20px;
}

.gallery .pic+a.popup .content {
	position: absolute;
	background-color: black;
	padding: 30px;
	width: 80%;
	z-index: 300;
	border-radius: 10px;
	
		border: 8px solid #FFFFFF;
	-webkit-border-image: url('images/wood.png') 200 stretch;
	-o-border-image: url('images/wood.png') 200 stretch;
	   border-image: url('images/wood.png') 200 stretch;
}

.gallery .pic+.popup .content .avatar {
	float: left;
	padding-right: 12px;
}

.gallery .pic:active+.popup, .gallery .pic+.popup:hover:not(:active) {
	display: block;
} 

@media screen and (max-width: 670px) {
	.gallery .pic {
		width: calc(20% - 2px);
		height: auto;
	}
	.gallery .pic .img, .gallery .pic .img img {
		width: 100%;
		height: auto;
	}
}

@media screen and (max-width: 510px) {
	.gallery .pic {
		width: calc(33% - 2px);
		height: auto;
	}
}

@media screen and (max-width: 320px) {
	.gallery .pic {
		width: calc(50% - 2px);
		height: auto;
	}
}

@media screen and (max-width: 200px) {
	.gallery .pic {
		width: 100%;
		height: auto;
	}
}

