@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url('robotoslab.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Slab Light';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Slab Light'), local('RobotoSlab-Light'), url('robotoslab-light.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Slab Bold';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'), url('robotoslab-bold.ttf') format('truetype');
}
